{% extends "Admin/adminLayout.html.twig" %}
{% block title %}{{ "Edit "~form.title_en.vars.value }}{% endblock %}
{% block head_assets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
{% block content %}
    <h1>{{ "Edit "~form.title_en.vars.value }}</h1>

    <div class="flash-messages"></div>

    <form enctype="multipart/form-data" action="{{ path('admin_art_works_edit', {'slug': form.slug.vars.value}) }}" method="post">
        {{ form_start(form, {'multipart': true}) }}

        {{ form_errors(form) }}

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#en" aria-controls="en" role="tab" data-toggle="tab">English</a></li>
            <li role="presentation"><a href="#uk" aria-controls="uk" role="tab" data-toggle="tab">Українська</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="en">
                {{ form_row(form.title_en) }}
                {{ form_row(form.description_en) }}
                {{ form_row(form.materials_en) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="uk">
                {{ form_row(form.title_uk) }}
                {{ form_row(form.description_uk) }}
                {{ form_row(form.materials_uk) }}
            </div>
        </div>

        {{ form_row(form.slug, { 'attr':{'readonly':'readonly'} }) }}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> {{ form_label(form.width) }}
                    </span>
                    {{ form_widget(form.width) }}
                </div>
                {{ form_errors(form.width) }}
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> {{ form_label(form.height) }}
                    </span>
                    {{ form_widget(form.height) }}
                </div>
                {{ form_errors(form.height) }}
            </div><!-- /.col-lg-6 -->
        </div>
        <br />
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_errors(form.date) }}
                    <div class='input-group date' id='created-date-container'>
                        {{ form_widget(form.date) }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        {{ form_row(form.price) }}
        {{ form_row(form.in_stock) }}
        {{ form_row(form.on_front) }}
        <div class="form-group">
            {{ form_label(form.picture) }}<br />
            <img src="{{ app.image_handler.getImageUrl(form.picture.vars.data.fileName, 'admin_preview') }}" class="img-thumbnail">
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>

        {{ form_label(form.images) }}<br />
        <div class="row">
            {% for image in form.images.vars.data %}
                <div class="delete-image-container image-container">
                    <img src="{{ app.image_handler.getImageUrl(image.pathName, 'admin_preview') }}" class="img-thumbnail">
                    <input
                            class="delete-image-button hover-delete-button"
                            data-delete-link="{{ path('admin_art_works_remove_image', {'imageFileNameForDelete': image.fileName, 'slug': form.slug.vars.value}) }}"
                            type="button"
                            value=" DELETE "
                    />
                </div>
            {% endfor %}
        </div>
        {{ form_widget(form.images) }}
        {{ form_errors(form.images) }}
        <br />
        <br />
        <input type="submit" class="btn btn-success" name="submit" value="Save Art Work" />
        {{ form_end(form) }}
    </form>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/assets/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/remove-image.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'art_work_description_en' );
        CKEDITOR.replace( 'art_work_description_uk' );
    </script>
    <script type="text/javascript">
        $(function () {
            $('#created-date-container').datetimepicker({
                locale: 'ru',
                format: "YYYY-MM-DD",
                enabledHours: false,
                keepOpen: false
            });
        });
    </script>
{% endblock %}
