<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %} {{ 'tetiana_cherevan'|trans }}</title>
        <link href="/style.css" rel="stylesheet">
        <script src="/script.js"></script>
    </head>
    <body>
        <main class="container">
            <ul class="topnav" id="myTopnav">
                <li class="header-title">{{ 'tetiana_cherevan'|trans }}</li>
                <li><a href="{{ path('art_works') }}">{{ 'menu.art_works'|trans }}</a></li>
                <li><a href="{{ path('about') }}">{{ 'menu.about'|trans }}</a></li>
                <li class="language-selector">
                    {% if 'en' == app.translator.locale %}
                        <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'uk'})) }}">Укр</a>
                    {% else %}
                        <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'en'})) }}">Eng</a>
                    {% endif %}
                </li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="menuToggle()">&#9776;</a>
                </li>
            </ul>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <ul class="footer__social">
                <li><a class="button--svg" href="https://www.facebook.com/cherevanart" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 46 46" role="img" aria-labelledby="facebook-icon">
                            <title id="facebook-icon">Facebook</title>
                            <path fill="#3C599A" d="M18.896 20.12h1.758v-1.708c0-.753.02-1.915.566-2.635.576-.762 1.368-1.28 2.73-1.28 2.218 0 3.15.316 3.15.316l-.438 2.605s-.73-.212-1.417-.212c-.684 0-1.296.245-1.296.93v1.985h2.803l-.194 2.547h-2.61v8.84h-3.297v-8.84h-1.758V20.12z"/>
                            <path class="button--svg__border" fill="#E5E5E5" d="M23 3c11.027 0 20 8.972 20 20 0 11.027-8.973 20-20 20-11.028 0-20-8.973-20-20C3 11.972 11.972 3 23 3m0-2C10.85 1 1 10.85 1 23s9.85 22 22 22 22-9.85 22-22S35.15 1 23 1z"/>
                        </svg>
                    </a></li>
                <li><a class="button--svg" href="https://www.instagram.com/tetianacherevan" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 46 46" role="img" aria-labelledby="instagram-icon">
                            <title id="instagram-icon">Instagram</title>
                            <path class="button--svg__border" fill="#E5E5E5" d="M23 3c11.028 0 20 8.972 20 20s-8.972 20-20 20S3 34.028 3 23 11.972 3 23 3m0-2C10.85 1 1 10.85 1 23s9.85 22 22 22 22-9.85 22-22S35.15 1 23 1z"/>
                            <path fill="#5E6C89" d="M29.76 29.03v-7.373h-1.537c.152.48.23.975.23 1.49 0 .958-.243 1.838-.73 2.647-.485.807-1.146 1.447-1.98 1.918-.834.47-1.744.705-2.73.705-1.495 0-2.773-.514-3.835-1.543-1.062-1.027-1.593-2.27-1.593-3.726 0-.517.076-1.013.228-1.49H16.21v7.373c0 .2.065.37.2.5.13.14.296.2.494.2H29.07c.188 0 .352-.06.488-.2s.202-.3.202-.49zm-3.233-6.064c0-.94-.343-1.743-1.03-2.406-.686-.664-1.515-.996-2.486-.996-.96 0-1.78.332-2.47.996-.68.663-1.03 1.466-1.03 2.406 0 .942.35 1.743 1.03 2.407s1.51.996 2.48.996c.975 0 1.8-.34 2.49-1s1.03-1.47 1.03-2.41zm3.233-4.097v-1.88c0-.22-.076-.4-.23-.56-.15-.158-.336-.235-.556-.235h-1.98c-.22 0-.406.08-.558.233-.15.155-.228.34-.228.552v1.876c0 .22.076.404.228.556s.337.23.558.23h1.98c.22 0 .406-.078.557-.23.16-.15.23-.338.23-.558zm1.98-2.37v12.99c0 .61-.22 1.14-.66 1.58-.44.44-.967.66-1.582.66H16.502c-.614 0-1.142-.22-1.582-.66-.44-.44-.66-.97-.66-1.586V16.5c0-.614.22-1.142.66-1.582.44-.44.967-.66 1.582-.66h12.996c.615 0 1.14.22 1.582.66.44.44.66.967.66 1.58z"/>
                        </svg>
                    </a></li>
            </ul>
        </footer>
        {% block scripts %}
            <script src="/assets/masonry/dist/masonry.pkgd.min.js"></script>
            <script src="/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
        {% endblock %}
    </body>
</html>
