<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %} {{ 'tetiana_cherevan'|trans }}</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" type="text/css" href="/grid.css">
        <link rel="stylesheet" type="text/css" href="/fonts/AvantGarde/AvantGarde.css">
        <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <header id="header">
            <div class="mobile-header">
                <div class="branding">
                    <a href="{{ path('art_works', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="Home Page"><h3>Cherevan</h3></a>
                </div>
                <button class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="panel">
                    <menu class="nav">
                        <li class="menu-item{% if 'art_works' == global.request.get('_route') %} active{% endif %}">
                            <a href="{{ path('art_works', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">Art</a>
                        </li>
                        {#<li class="menu-item">#}
                            {#<a href="artist.html" class="menu-link">Artist</a>#}
                        {#</li>#}
                        <li class="menu-item"{% if 'cv' == global.request.get('_route') %} active{% endif %}>
                            <a href="{{ path('cv', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">CV</a>
                        </li>
                        {#<li class="menu-item">#}
                            {#<a href="contact.html" class="menu-link">Contact</a>#}
                        {#</li>#}
                    </menu>
                    <div class="hdr-widgeets">
                        <menu class="nav">
                            <li class="menu-item lang-widget menu-item-has-a-children">
                                <menu class="subnav">
                            <li class="menu-item{% if 'en' == app.translator.locale %} active{% endif %}">
                                <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">EN</a>
                            </li>
                            <li class="menu-item{% if 'uk' == app.translator.locale %} active{% endif %}">
                                <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'uk'})) }}" class="menu-link">UK</a>
                            </li>
                        </menu>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="e-row">
                    <div class="e-col">
                        <div class="branding">
                            <a href="{{ path('art_works', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="Home Page"><h3>Cherevan</h3></a>
                        </div>
                    </div>
                    <div class="e-col">
                        <menu class="nav">
                            <li class="menu-item{% if 'art_works' == global.request.get('_route') %} active{% endif %}">
                                <a href="{{ path('art_works', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">Art</a>
                            </li>
                            {#<li class="menu-item">#}
                                {#<a href="artist.html" class="menu-link">Artist</a>#}
                            {#</li>#}
                            <li class="menu-item{% if 'cv' == global.request.get('_route') %} active{% endif %}">
                                <a href="{{ path('cv', global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">CV</a>
                            </li>
                            {#<li class="menu-item">#}
                                {#<a href="contact.html" class="menu-link">Contact</a>#}
                            {#</li>#}
                        </menu>
                    </div>
                    <div class="e-col hdr-widgeets">
                        <menu class="nav">
                            {#<li class="menu-item search-widget">#}
                                {#<a href="#" class="menu-link"><i class="fa fa-search" aria-hidden="true"></i></a>#}
                                {#<form class="serach-form">#}
                                    {#<input class="serach-form-input" type="search" name="q" placeholder="search">#}
                                    {#<input class="serach-form-submit" type="submit" value="Submit">#}
                                {#</form>#}
                            {#</li>#}
                            <li class="menu-item lang-widget menu-item-has-a-children">
                                <a href="" class="menu-link">{{ app.translator.locale|upper }}</a> <!--  -->
                                <menu class="subnav">
                            <li class="menu-item{% if 'en' == app.translator.locale %} active{% endif %}">
                                <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="menu-link">EN</a>
                            </li>
                            <li class="menu-item{% if 'uk' == app.translator.locale %} active{% endif %}">
                                <a href="{{ path(global.request.get('_route'), global.request.get('_route_params')|merge({'_locale': 'uk'})) }}" class="menu-link">UK</a>
                            </li>
                        </menu>
                    </div>
                </div>
            </div>
        </header>
        <main id="main">
            {% block content %}{% endblock %}
        </main>
        <footer id="footer">
            <div class="ftr-rollover-container">
                <div class="e-row e-equal-height-row">
                    <div class="e-col-6 e-equal-height-col copyrights">
                        <p>Cherevan 2017</p>
                    </div>
                    <div class="e-col-6 e-equal-height-col socials">
                        <a href="https://www.instagram.com/tetianacherevan/" class="soc-ico" target="_blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        {#<a href="" class="soc-ico" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
                        <a href="https://www.facebook.com/tetiana.cherevan/" class="soc-ico" target="_blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        {% block scripts %}
            <script src="/masonry.pkgd.min.js"></script>
            <script src="/imagesloaded.pkgd.min.js"></script>
            <script src="/scripts.js"></script>
            <script>
                var acc = document.getElementsByClassName("toggle-menu");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].onclick = function(){
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                            panel.style.display = "none";
                        } else {
                            panel.style.display = "block";
                        }
                    }
                }
            </script>
            <script type="text/javascript">
                // init Masonry
                var grid = document.querySelector('.grid');
                var msnry = new Masonry( grid, {
                    itemSelector: '.grid-item',
                    columnWidth: '.grid-sizer',
                    percentPosition: true
                });

                imagesLoaded( grid ).on( 'progress', function() {
                    // layout Masonry after each image loads
                    msnry.layout();
                });
            </script>
        {% endblock %}
    </body>
</html>
