{% extends "Admin/adminLayout.html.twig" %}
{% block title %}Add new Art Work{% endblock %}
{% block content %}
    <h1>Add new Art Work</h1>

    <form enctype="multipart/form-data" action="{{ path('admin_create_work') }}" method="post">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}

        {{ form_row(form.description, { 'attr':{'id':'art-work-description'} }) }}
        {{ form_row(form.price) }}
        {{ form_row(form.in_stock) }}
        <div class="form-group">
            {{ form_label(form.picture) }}<br />
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>

        <label>Images</label>
        <ul id="image-fields-list"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
            {% for image in form.images %}
                <li>
                    {{ form_errors(image) }}
                    {{ form_widget(image) }}
                </li>
            {% endfor %}
        </ul>

        <a href="#" class="btn btn-default  btn-sm" id="add-another-image">+ Add image</a>
        <br />
        <br />
        <input type="submit" class="btn btn-success" name="submit" value="Save Art Work" />
        {{ form_end(form) }}
    </form>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many image fields have been rendered
        var imageCount = '{{ form.images|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-image').click(function(e) {
                e.preventDefault();

                var imageList = jQuery('#image-fields-list');

                // grab the prototype template
                var newWidget = imageList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your images
                // end name attribute looks like name="contact[images][2]"
                newWidget = newWidget.replace(/__name__/g, imageCount);
                imageCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(imageList);
            });
        })
    </script>
    <script>
        CKEDITOR.replace( 'art_work_description' );
    </script>
{% endblock %}
