{% extends "Admin/adminLayout.html.twig" %}
{% block title %}{{ "Edit "~form.title.vars.value }}{% endblock %}
{% block content %}
    <h1>{{ "Edit "~form.title.vars.value }}</h1>

    <div class="flash-messages"></div>

    <form enctype="multipart/form-data" action="{{ path('admin_edit_work', {'slug': form.slug.vars.value}) }}" method="post">
        {{ form_start(form, {'multipart': true}) }}

        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.slug, { 'attr':{'readonly':'readonly'} }) }}

        {{ form_row(form.description, { 'attr':{'id':'art_work_description', 'cols': '50'} }) }}
        {{ form_row(form.price) }}
        {{ form_row(form.in_stock) }}
        <div class="form-group">
            {{ form_label(form.picture) }}<br />
            <img src="{{ app.image_handler.getImageUrl(form.picture.vars.data.fileName, 'art_work', 'admin') }}" class="img-thumbnail">
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>
        {{ form_row(form.picture) }}

        <label>Images</label>
        <ul id="image-fields-list"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
            {% for image in form.images %}
                <div class="delete-image-container">
                    <img src="{{ app.image_handler.getImageUrl(image.vars.data.fileName, 'art_work', 'admin') }}" class="img-thumbnail">
                    <input
                            class="delete-image-button"
                            data-delete-link="{{ path('admin_edit_work_delete_image', {'imageFileNameForDelete': image.vars.data.fileName, 'slug': form.slug.vars.value}) }}"
                            type="button"
                            value=" DELETE "
                    />
                    <div style="display: none;">{{ form_row(image) }}</div>
                </div>
            {% endfor %}
        </ul>

        <a href="#" class="btn btn-default  btn-sm" id="add-another-image">+ Add image</a>
        <br />
        <br />
        <input type="submit" class="btn btn-success" name="submit" value="Save Art Work" />
        {{ form_end(form) }}
    </form>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many image fields have been rendered
        var imageCount = '{{ form.images|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-image').click(function(e) {
                e.preventDefault();

                var imageList = jQuery('#image-fields-list');

                // grab the prototype template
                var newWidget = imageList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your images
                // end name attribute looks like name="contact[images][2]"
                newWidget = newWidget.replace(/__name__/g, imageCount);
                imageCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(imageList);
            });
        })
    </script>
    <script type="text/javascript">
        CKEDITOR.replace( 'art_work_description' );
    </script>
    <script>
        $( ".delete-image-container .delete-image-button" ).click(function() {
            var deleteLink = $(this).data('delete-link')
                imageContainer = $(this).parent();
            $.ajax({
                url: deleteLink,
                method: 'DELETE'
            }).done(function() {
                imageContainer.remove();
                $('div.flash-messages').append('<div class="alert alert-success" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Image was successfully deleted</div>');
            }).fail(function (jqXHR, textStatus) {
                $('div.flash-messages').append('<div class="alert alert-danger" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+textStatus+'</div>');
            });
        });
    </script>
{% endblock %}
